{% load static %} {% load event_filters %}

<ul class="events-list">
    {% for event in events %}
    <li class="card event">
        {% if event.image|length > 0 %}
        <img class="event-image" src="{{ event.image.url }}" alt="">
        {% else %}
        <img class="event-image" src="{% static 'images/image_placeholder.jpg' %}" alt="">
        {% endif %}
        <div class="event-info">
            <h3>{{event.title}}</h3>
            <hr />
            <h4>
                Description: {{event.description}}
                <br />
                Date Time: {{event.datetime}}
                <br />
                Cost: £{{event.cost}}
            </h4>
        </div>
        <div class="event-controls">
            {% if user.is_authenticated %} {% if user|is_attending:event %}
            <form action="{% url 'events_remove_attending' event.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button red">Cancel Attendance</button>
            </form>
            {% else %}
            <form action="{% url 'events_add_attending' event.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button yellow">Attending</button>
            </form>
            {% endif %} 
            {% endif %}
            <a href="{% url 'events_details' event.id %}" class="button yellow">Details</a>
        </div>
        {% endfor %}
    </li>
</ul>