{% extends 'base.html' %}

{% load static %}
    {% block content %}
    <main class="wrap-content">
        <div class="card-background half-width event-details">
            <section class="card event-header">
                <div class="event-info">
                    <h2 class="event-title">{{event.title}}</h2>
                    <hr>
                    <h4>{{event.description}}</h4>
                </div>
            </section>
            <section class="card">
                <img src="{% static 'images/image_placeholder.jpg' %}" alt="Place Holder" class="eventsimg">
            </section>
            <section class="card">
                <h4>Date/Time:   {{event.datetime}} <br> Cost:    £{{event.cost}}</h4>
            </section>
        </div>
    </main>
    {% endblock content %}