{% extends 'base.html' %}

{% load static %}
    {% block content %}
    <main class="wrap-content">
        <div class="card-background full-width event-details">
            <section class="card event-header">
                <div class="event-info">
                    <h2 class="event-title">YOUR UPCOMING EVENTS</h2>
                    <h3></h3>
                </div>
            </section>
            
            {% include 'partials/_filter_form.html' %}

            {% include 'partials/_events_list.html' with events=events %}
        
        </div>
    </main>
    {% endblock content %}